{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "define": true
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.8.6"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "spread": true
    }
  },
  "rules": {
    "import/no-amd": "off",
    "vars-on-top": "warn",
    "prefer-destructuring": "warn",
    "prefer-template": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "import/no-dynamic-require": "off",
    "arrow-body-style": "off",
    "babel/semi": "off",
    "no-confusing-arrow": "off",
    "consistent-return": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/sort-comp": "off",
    "react/jsx-no-target-blank": "off",
    "react/no-unused-state": "off",
    "react/destructuring-assignment": "off",
    "react/no-access-state-in-setstate": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off"
  }
}
