defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8.12

version: 2
jobs:
  checkout_code:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: 'Make working directory'
          command: mkdir -p workspace
      - run:
          name: 'Copy app'
          # command: cp -a /. workspace/app/
          command ls -a

      - persist_to_workspace:
          root: workspace
          paths:
            - app
  install_deps:
    <<: *defaults
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: 'Yarn install'
          command: cd workspace/app && yarn install
      - persist_to_workspace:
          root: workspace
          paths:
            - app/node_modules
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: 'Run ESLint'
          command: cd workspace/app && yarn lint
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: 'Run unit tests'
          command: cd workspace/app && yarn test:ci
  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: 'Build app'
          command: cd workspace/app && yarn deploy
      - persist_to_workspace:
          root: workspace
          paths:
            - app/build
workflows:
  version: 2
  test_lint_build:
    jobs:
      - checkout_code
      - install_deps:
          requires:
            - checkout_code
      - lint:
          requires:
            - install_deps
      - test:
          requires:
            - install_deps
      - build:
          requires:
            - install_deps
